## Emanuelle Moço e Giovana Lemes:

Regressão
Pretendemos analisar se a altura de um jogador de basquete influencia na quantidade de pontos que ele faz.

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import cmath
plt.style.use('ggplot')

In [2]:
! explorer .

In [3]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\giiol\Desktop\proj 3

In [4]:
#Se usar o arquivo descompactado
dados1 = pd.read_table('Players.csv', encoding="latin1",sep=',')
dados2 = pd.read_table('Seasons_Stats.csv', encoding="latin1",sep=',')

In [5]:
tabela_altura = dados1.loc [:,["Player", "height"]]

In [6]:
#Qual posição tem mais informações? (vamos analisar a que tiver mais informações)
print ("F: {0}".format(len(dados2[dados2.Pos == "F"])))
print ("C: {0}".format(len(dados2[dados2.Pos == "C"])))
print ("G: {0}".format(len(dados2[dados2.Pos == "G"])))
print ("G-F: {0}".format(len(dados2[dados2.Pos == "G-F"])))
print ("F-C: {0}".format(len(dados2[dados2.Pos == "F-C"])))
print ("F-G: {0}".format(len(dados2[dados2.Pos == "F-G"])))
print ("PG: {0}".format(len(dados2[dados2.Pos == "PG"])))
print ("PF: {0}".format(len(dados2[dados2.Pos == "PF"])))
print ("SF: {0}".format(len(dados2[dados2.Pos == "SF"])))
print ("SG: {0}".format(len(dados2[dados2.Pos == "SG"])))

F: 123
C: 4759
G: 139
G-F: 79
F-C: 81
F-G: 60
PG: 4648
PF: 4966
SF: 4699
SG: 4811

In [7]:
dados1

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
5,5,Gene Berce,180.0,79.0,Marquette University,1926.0,NaN,NaN
6,6,Charlie Black,196.0,90.0,University of Kansas,1921.0,Arco,Idaho
7,7,Nelson Bobb,183.0,77.0,Temple University,1924.0,Philadelphia,Pennsylvania
8,8,Jake Bornheimer,196.0,90.0,Muhlenberg College,1927.0,New Brunswick,New Jersey
9,9,Vince Boryla,196.0,95.0,University of Denver,1927.0,East Chicago,Indiana
10,10,Don Boven,193.0,95.0,Western Michigan University,1925.0,Kalamazoo,Michigan
11,11,Harry Boykoff,208.0,102.0,St. John's University,1922.0,Brooklyn,New York
12,12,Joe Bradley,190.0,79.0,Oklahoma State University,1928.0,Washington,Oklahoma
13,13,Bob Brannum,196.0,97.0,Michigan State University,1925.0,NaN,NaN
14,14,Carl Braun,196.0,81.0,Colgate University,1927.0,Brooklyn,New York
15,15,Frankie Brian,185.0,81.0,Louisiana State University,1923.0,Zachary,Louisiana
16,16,Price Brookfield,193.0,83.0,West Texas A&M University,1920.0,Floydada,Texas
17,17,Bob Brown,193.0,92.0,Miami University,1923.0,Versailles,Ohio
18,18,Jim Browne,208.0,106.0,NaN,1930.0,Midlothian,Illinois
19,19,Walt Budko,196.0,99.0,Columbia University,1925.0,Kearney,New Jersey
20,20,Jack Burmaster,190.0,86.0,University of Illinois at Urbana-Champaign,1926.0,NaN,NaN
21,21,Tommy Byrnes,190.0,79.0,Seton Hall University,1923.0,Teaneck,New Jersey
22,22,Bill Calhoun,190.0,81.0,City College of San Francisco,1927.0,San Francisco,California
23,23,Don Carlson,183.0,77.0,University of Minnesota,1919.0,Minneapolis,Minnesota
24,24,Bob Carpenter,196.0,90.0,East Texas State University,1917.0,NaN,NaN
25,25,Jake Carter,193.0,88.0,East Texas State University,1924.0,NaN,NaN
26,26,Al Cervi*,180.0,77.0,NaN,1917.0,Buffalo,New York
27,27,John Chaney,190.0,83.0,Louisiana State University,1920.0,NaN,NaN
28,28,Leroy Chollet,188.0,86.0,Canisius College,1925.0,New Orleans,Louisiana
29,29,Bill Closs,196.0,88.0,Rice University,1922.0,Edge,Texas
...,...,...,...,...,...,...,...,...
3892,3892,Chinanu Onuaku,208.0,111.0,University of Louisville,1996.0,Baltimore,Maryland
3893,3893,Georgios Papagiannis,216.0,108.0,NaN,1997.0,Amarousio,Greece
3894,3894,Gary Payton,193.0,81.0,Oregon State University,1968.0,Oakland,California
3895,3895,Marshall Plumlee,211.0,111.0,Duke University,1990.0,Fort Wayne,Indiana
3896,3896,Jakob Poeltl,213.0,112.0,University of Utah,1995.0,Vienna,Austria
3897,3897,Alex Poythress,201.0,107.0,University of Kentucky,1993.0,Savannah,Georgia
3898,3898,Tim Quarterman,198.0,88.0,Louisiana State University,1994.0,Savannah,Georgia
3899,3899,Chasson Randle,188.0,83.0,Stanford University,1993.0,Rock Island,Illinois
3900,3900,Malachi Richardson,198.0,92.0,Syracuse University,1996.0,Trenton,New Jersey
3901,3901,Domantas Sabonis,211.0,108.0,Gonzaga University,1996.0,Portland,Oregon
3902,3902,Dario Saric,208.0,101.0,NaN,1994.0,Sibenik,Croatia
3903,3903,Tomas Satoransky,201.0,95.0,NaN,1991.0,Prague,Czech Republic
3904,3904,Wayne Selden,196.0,104.0,University of Kansas,1994.0,Roxbury,Massachusetts
3905,3905,Pascal Siakam,206.0,104.0,New Mexico State University,1994.0,Douala,Cameroon
3906,3906,Diamond Stone,211.0,115.0,University of Maryland,1997.0,Milwaukee,Wisconsin
3907,3907,Edy Tavares,211.0,115.0,NaN,1997.0,NaN,NaN
3908,3908,Isaiah Taylor,190.0,77.0,University of Texas at Austin,1994.0,Hayward,California
3909,3909,Mike Tobey,213.0,117.0,University of Virginia,1994.0,Monroe,New York
3910,3910,Tyler Ulis,178.0,68.0,University of Kentucky,1996.0,Detroit,Michigan
3911,3911,Jarrod Uthoff,206.0,100.0,University of Iowa,1993.0,Cedar Rapids,Iowa
3912,3912,Denzel Valentine,198.0,96.0,Michigan State University,1993.0,Lansing,Michigan
3913,3913,Fred VanVleet,183.0,88.0,Wichita State University,1994.0,Rockford,Illinois
3914,3914,Taurean Waller-Prince,183.0,88.0,NaN,1994.0,NaN,NaN
3915,3915,Okaro White,203.0,92.0,Florida State University,1992.0,Clearwater,Florida
3916,3916,Isaiah Whitehead,193.0,96.0,Seton Hall University,1995.0,Brooklyn,New York
3917,3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina
3918,3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon
3919,3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee
3920,3920,Paul Zipser,203.0,97.0,NaN,1994.0,Heidelberg,Germany
3921,3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina

In [8]:
dados1 = dados1.loc[pd.notnull(dados1.height),:]

In [9]:
dados1.head()

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

In [34]:
dados2.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,height
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0,180.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0,188.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0,193.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0,196.0

In [12]:
#tabela com dados dos pivos "PF"
tabela_PF = dados2[dados2.Pos == "PF"]
tabela_PF.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,height
17,17,1950.0,Bob Brannum,PF,24.0,SHE,59.0,NaN,NaN,NaN,...,NaN,NaN,NaN,205.0,NaN,NaN,NaN,279.0,713.0,NaN
23,23,1950.0,Walt Budko,PF,24.0,BLB,66.0,NaN,NaN,NaN,...,NaN,NaN,NaN,146.0,NaN,NaN,NaN,259.0,595.0,NaN
41,41,1950.0,Jack Coleman,PF,25.0,ROC,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,153.0,NaN,NaN,NaN,223.0,590.0,NaN
45,45,1950.0,Dillard Crocker,PF,25.0,DNN,53.0,NaN,NaN,NaN,...,NaN,NaN,NaN,85.0,NaN,NaN,NaN,223.0,723.0,NaN
68,68,1950.0,Joe Fulks*,PF,28.0,PHW,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,56.0,NaN,NaN,NaN,240.0,965.0,NaN

In [13]:
#apagar os dados nulos da altura
dados2 = dados2.loc[pd.notnull(dados2.height),:]
dados2

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,height
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0,180.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0,188.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0,193.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0,196.0

In [14]:
#modificando a tabela_PF para ter apenas os dados que são uteis para nós
#G = games
#FT% = porcentagem de acertos (acertos/quanto tentou)
#AST = assistências 
#PTS = pontos 
tabela_PF = tabela_PF.loc[:,["Player", "G", "FT%",  "AST", "PTS" ]]  
tabela_PF.head()

             Player     G    FT%    AST    PTS
17      Bob Brannum  59.0  0.690  205.0  713.0
23       Walt Budko  66.0  0.757  146.0  595.0
41     Jack Coleman  68.0  0.744  153.0  590.0
45  Dillard Crocker  53.0  0.735   85.0  723.0
68       Joe Fulks*  68.0  0.696   56.0  965.0

In [15]:
#criar uma coluna que vai ser os pontos/jogos
testeA = tabela_PF.loc[(tabela_PF.G!=0), 'M_PONTOS'] = tabela_PF.PTS / tabela_PF.G
testeA.head()

17    12.084746
23     9.015152
41     8.676471
45    13.641509
68    14.191176
dtype: float64

In [35]:
testeA.head()

17    12.084746
23     9.015152
41     8.676471
45    13.641509
68    14.191176
dtype: float64

In [17]:
#media da media de pontos por jogo
testeA.mean()

8.093923934856019

In [18]:
#media das altura
tabela_altura.height.mean()

198.70492221372098

In [19]:
#covariancia
tabela_PF.cov()

                    G        FT%           AST            PTS     M_PONTOS
G          693.604935   0.807973   1350.382206    9179.693811    85.558076
FT%          0.807973   0.019387      2.466136      19.197398     0.256641
AST       1350.382206   2.466136   6017.618989   30870.439742   345.320612
PTS       9179.693811  19.197398  30870.439742  226304.408328  2580.752122
M_PONTOS    85.558076   0.256641    345.320612    2580.752122    34.253197

In [20]:
dados1

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
5,5,Gene Berce,180.0,79.0,Marquette University,1926.0,NaN,NaN
6,6,Charlie Black,196.0,90.0,University of Kansas,1921.0,Arco,Idaho
7,7,Nelson Bobb,183.0,77.0,Temple University,1924.0,Philadelphia,Pennsylvania
8,8,Jake Bornheimer,196.0,90.0,Muhlenberg College,1927.0,New Brunswick,New Jersey
9,9,Vince Boryla,196.0,95.0,University of Denver,1927.0,East Chicago,Indiana
10,10,Don Boven,193.0,95.0,Western Michigan University,1925.0,Kalamazoo,Michigan
11,11,Harry Boykoff,208.0,102.0,St. John's University,1922.0,Brooklyn,New York
12,12,Joe Bradley,190.0,79.0,Oklahoma State University,1928.0,Washington,Oklahoma
13,13,Bob Brannum,196.0,97.0,Michigan State University,1925.0,NaN,NaN
14,14,Carl Braun,196.0,81.0,Colgate University,1927.0,Brooklyn,New York
15,15,Frankie Brian,185.0,81.0,Louisiana State University,1923.0,Zachary,Louisiana
16,16,Price Brookfield,193.0,83.0,West Texas A&M University,1920.0,Floydada,Texas
17,17,Bob Brown,193.0,92.0,Miami University,1923.0,Versailles,Ohio
18,18,Jim Browne,208.0,106.0,NaN,1930.0,Midlothian,Illinois
19,19,Walt Budko,196.0,99.0,Columbia University,1925.0,Kearney,New Jersey
20,20,Jack Burmaster,190.0,86.0,University of Illinois at Urbana-Champaign,1926.0,NaN,NaN
21,21,Tommy Byrnes,190.0,79.0,Seton Hall University,1923.0,Teaneck,New Jersey
22,22,Bill Calhoun,190.0,81.0,City College of San Francisco,1927.0,San Francisco,California
23,23,Don Carlson,183.0,77.0,University of Minnesota,1919.0,Minneapolis,Minnesota
24,24,Bob Carpenter,196.0,90.0,East Texas State University,1917.0,NaN,NaN
25,25,Jake Carter,193.0,88.0,East Texas State University,1924.0,NaN,NaN
26,26,Al Cervi*,180.0,77.0,NaN,1917.0,Buffalo,New York
27,27,John Chaney,190.0,83.0,Louisiana State University,1920.0,NaN,NaN
28,28,Leroy Chollet,188.0,86.0,Canisius College,1925.0,New Orleans,Louisiana
29,29,Bill Closs,196.0,88.0,Rice University,1922.0,Edge,Texas
...,...,...,...,...,...,...,...,...
3892,3892,Chinanu Onuaku,208.0,111.0,University of Louisville,1996.0,Baltimore,Maryland
3893,3893,Georgios Papagiannis,216.0,108.0,NaN,1997.0,Amarousio,Greece
3894,3894,Gary Payton,193.0,81.0,Oregon State University,1968.0,Oakland,California
3895,3895,Marshall Plumlee,211.0,111.0,Duke University,1990.0,Fort Wayne,Indiana
3896,3896,Jakob Poeltl,213.0,112.0,University of Utah,1995.0,Vienna,Austria
3897,3897,Alex Poythress,201.0,107.0,University of Kentucky,1993.0,Savannah,Georgia
3898,3898,Tim Quarterman,198.0,88.0,Louisiana State University,1994.0,Savannah,Georgia
3899,3899,Chasson Randle,188.0,83.0,Stanford University,1993.0,Rock Island,Illinois
3900,3900,Malachi Richardson,198.0,92.0,Syracuse University,1996.0,Trenton,New Jersey
3901,3901,Domantas Sabonis,211.0,108.0,Gonzaga University,1996.0,Portland,Oregon
3902,3902,Dario Saric,208.0,101.0,NaN,1994.0,Sibenik,Croatia
3903,3903,Tomas Satoransky,201.0,95.0,NaN,1991.0,Prague,Czech Republic
3904,3904,Wayne Selden,196.0,104.0,University of Kansas,1994.0,Roxbury,Massachusetts
3905,3905,Pascal Siakam,206.0,104.0,New Mexico State University,1994.0,Douala,Cameroon
3906,3906,Diamond Stone,211.0,115.0,University of Maryland,1997.0,Milwaukee,Wisconsin
3907,3907,Edy Tavares,211.0,115.0,NaN,1997.0,NaN,NaN
3908,3908,Isaiah Taylor,190.0,77.0,University of Texas at Austin,1994.0,Hayward,California
3909,3909,Mike Tobey,213.0,117.0,University of Virginia,1994.0,Monroe,New York
3910,3910,Tyler Ulis,178.0,68.0,University of Kentucky,1996.0,Detroit,Michigan
3911,3911,Jarrod Uthoff,206.0,100.0,University of Iowa,1993.0,Cedar Rapids,Iowa
3912,3912,Denzel Valentine,198.0,96.0,Michigan State University,1993.0,Lansing,Michigan
3913,3913,Fred VanVleet,183.0,88.0,Wichita State University,1994.0,Rockford,Illinois
3914,3914,Taurean Waller-Prince,183.0,88.0,NaN,1994.0,NaN,NaN
3915,3915,Okaro White,203.0,92.0,Florida State University,1992.0,Clearwater,Florida
3916,3916,Isaiah Whitehead,193.0,96.0,Seton Hall University,1995.0,Brooklyn,New York
3917,3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina
3918,3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon
3919,3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee
3920,3920,Paul Zipser,203.0,97.0,NaN,1994.0,Heidelberg,Germany
3921,3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina

In [21]:
df = tabela_PF.set_index('Player').join(dados1.set_index('Player'), how='inner', lsuffix='tabela_PF',rsuffix='dados1')
#df = df[['M_PONTOS','height']].dropna()
#df.plot.scatter('M_PONTOS','height')

#tabela_PF.set_index('M_PONTOS').join(dados1.set_index('height'), lsuffix='_caller', rsuffix='_other')

In [22]:
dados2.Player.value_counts()

Curly Armstrong    1
Leo Barnhorst      1
Cliff Barker       1
Ed Bartels         1
Name: Player, dtype: int64

In [23]:
df

,G,FT%,AST,PTS,M_PONTOS,Unnamed: 0,height,weight,collage,born,birth_city,birth_state
Player,,,,,,,,,,,,
A.C. Green,82.0,0.611,54.0,521.0,6.353659,1723,203.0,106.0,NaN,1960.0,NaN,NaN
A.C. Green,79.0,0.780,84.0,852.0,10.784810,1723,203.0,106.0,NaN,1960.0,NaN,NaN
A.C. Green,82.0,0.773,93.0,937.0,11.426829,1723,203.0,106.0,NaN,1960.0,NaN,NaN
A.C. Green,82.0,0.786,103.0,1088.0,13.268293,1723,203.0,106.0,NaN,1960.0,NaN,NaN
A.C. Green,82.0,0.751,90.0,1061.0,12.939024,1723,203.0,106.0,NaN,1960.0,NaN,NaN
A.C. Green,82.0,0.738,71.0,750.0,9.146341,1723,203.0,106.0,NaN,1960.0,NaN,NaN
A.C. Green,82.0,0.744,117.0,1116.0,13.609756,1723,203.0,106.0,NaN,1960.0,NaN,NaN
A.C. Green,82.0,0.739,116.0,1051.0,12.817073,1723,203.0,106.0,NaN,1960.0,NaN,NaN
A.C. Green,82.0,0.735,137.0,1204.0,14.682927,1723,203.0,106.0,NaN,1960.0,NaN,NaN
A.C. Green,83.0,0.650,69.0,597.0,7.192771,1723,203.0,106.0,NaN,1960.0,NaN,NaN
A.C. Green,27.0,0.646,17.0,153.0,5.666667,1723,203.0,106.0,NaN,1960.0,NaN,NaN
A.C. Green,56.0,0.651,52.0,444.0,7.928571,1723,203.0,106.0,NaN,1960.0,NaN,NaN
A.C. Green,82.0,0.716,123.0,600.0,7.317073,1723,203.0,106.0,NaN,1960.0,NaN,NaN
A.C. Green,50.0,0.577,25.0,246.0,4.920000,1723,203.0,106.0,NaN,1960.0,NaN,NaN
A.C. Green,82.0,0.695,80.0,413.0,5.036585,1723,203.0,106.0,NaN,1960.0,NaN,NaN
A.C. Green,82.0,0.712,39.0,367.0,4.475610,1723,203.0,106.0,NaN,1960.0,NaN,NaN
Aaron Gordon,47.0,0.721,33.0,243.0,5.170213,3707,206.0,99.0,University of Arizona,1995.0,San Jose,California
Aaron Gordon,78.0,0.668,128.0,719.0,9.217949,3707,206.0,99.0,University of Arizona,1995.0,San Jose,California
Aaron Williams,6.0,0.000,1.0,4.0,0.666667,2315,206.0,99.0,Xavier University,1971.0,Evanston,Illinois
Aaron Williams,15.0,0.667,0.0,24.0,1.600000,2315,206.0,99.0,Xavier University,1971.0,Evanston,Illinois
Aaron Williams,32.0,0.673,15.0,197.0,6.156250,2315,206.0,99.0,Xavier University,1971.0,Evanston,Illinois
Aaron Williams,65.0,0.776,14.0,296.0,4.553846,2315,206.0,99.0,Xavier University,1971.0,Evanston,Illinois
Aaron Williams,40.0,0.730,22.0,158.0,3.950000,2315,206.0,99.0,Xavier University,1971.0,Evanston,Illinois
Aaron Williams,81.0,0.726,58.0,616.0,7.604938,2315,206.0,99.0,Xavier University,1971.0,Evanston,Illinois
Aaron Williams,82.0,0.787,88.0,838.0,10.219512,2315,206.0,99.0,Xavier University,1971.0,Evanston,Illinois
Aaron Williams,82.0,0.699,77.0,592.0,7.219512,2315,206.0,99.0,Xavier University,1971.0,Evanston,Illinois
Aaron Williams,38.0,0.818,7.0,76.0,2.000000,2315,206.0,99.0,Xavier University,1971.0,Evanston,Illinois
Adam Keefe,82.0,0.700,80.0,542.0,6.609756,2210,206.0,104.0,Stanford University,1970.0,Irvine,California
Adam Keefe,63.0,0.730,34.0,273.0,4.333333,2210,206.0,104.0,Stanford University,1970.0,Irvine,California
Adam Keefe,82.0,0.692,64.0,499.0,6.085366,2210,206.0,104.0,Stanford University,1970.0,Irvine,California
...,...,...,...,...,...,...,...,...,...,...,...,...
Yi Jianlian,66.0,0.841,55.0,566.0,8.575758,3231,213.0,108.0,NaN,1987.0,He Shan,China
Yi Jianlian,61.0,0.772,60.0,525.0,8.606557,3231,213.0,108.0,NaN,1987.0,He Shan,China
Yi Jianlian,52.0,0.798,47.0,623.0,11.980769,3231,213.0,108.0,NaN,1987.0,He Shan,China
Yi Jianlian,63.0,0.681,25.0,355.0,5.634921,3231,213.0,108.0,NaN,1987.0,He Shan,China
Yi Jianlian,30.0,0.667,5.0,79.0,2.633333,3231,213.0,108.0,NaN,1987.0,He Shan,China
Zach Randolph,41.0,0.667,13.0,114.0,2.780488,2825,206.0,117.0,Michigan State University,1981.0,Marion,Indiana
Zach Randolph,77.0,0.758,41.0,650.0,8.441558,2825,206.0,117.0,Michigan State University,1981.0,Marion,Indiana
Zach Randolph,81.0,0.761,163.0,1626.0,20.074074,2825,206.0,117.0,Michigan State University,1981.0,Marion,Indiana
Zach Randolph,46.0,0.815,86.0,871.0,18.934783,2825,206.0,117.0,Michigan State University,1981.0,Marion,Indiana
Zach Randolph,74.0,0.714,144.0,1333.0,18.013514,2825,206.0,117.0,Michigan State University,1981.0,Marion,Indiana
Zach Randolph,68.0,0.819,147.0,1608.0,23.647059,2825,206.0,117.0,Michigan State University,1981.0,Marion,Indiana
Zach Randolph,39.0,0.701,88.0,815.0,20.897436,2825,206.0,117.0,Michigan State University,1981.0,Marion,Indiana
Zach Randolph,81.0,0.778,149.0,1681.0,20.753086,2825,206.0,117.0,Michigan State University,1981.0,Marion,Indiana
Zach Randolph,75.0,0.758,163.0,1504.0,20.053333,2825,206.0,117.0,Michigan State University,1981.0,Marion,Indiana
Zach Randolph,28.0,0.659,48.0,324.0,11.571429,2825,206.0,117.0,Michigan State University,1981.0,Marion,Indiana
Zach Randolph,76.0,0.750,108.0,1169.0,15.381579,2825,206.0,117.0,Michigan State University,1981.0,Marion,Indiana
Zach Randolph,79.0,0.742,200.0,1372.0,17.367089,2825,206.0,117.0,Michigan State University,1981.0,Marion,Indiana
Zach Randolph,71.0,0.765,153.0,1143.0,16.098592,2825,206.0,117.0,Michigan State University,1981.0,Marion,Indiana
Zach Randolph,68.0,0.796,142.0,1040.0,15.294118,2825,206.0,117.0,Michigan State University,1981.0,Marion,Indiana
Zach Randolph,73.0,0.731,122.0,1028.0,14.082192,2825,206.0,117.0,Michigan State University,1981.0,Marion,Indiana
Zaid Abdul-Aziz,80.0,0.643,62.0,593.0,7.412500,746,206.0,106.0,Iowa State University,1946.0,Brooklyn,New York
Zaid Abdul-Aziz,14.0,0.750,7.0,55.0,3.928571,746,206.0,106.0,Iowa State University,1946.0,Brooklyn,New York
Zarko Cabarkapa,49.0,0.660,40.0,203.0,4.142857,2918,211.0,106.0,NaN,1981.0,Zrenjanin,Serbia
Zarko Cabarkapa,40.0,0.815,25.0,238.0,5.950000,2918,211.0,106.0,NaN,1981.0,Zrenjanin,Serbia
Zarko Cabarkapa,3.0,1.000,0.0,9.0,3.000000,2918,211.0,106.0,NaN,1981.0,Zrenjanin,Serbia
Zarko Cabarkapa,37.0,0.813,25.0,229.0,6.189189,2918,211.0,106.0,NaN,1981.0,Zrenjanin,Serbia
Zarko Cabarkapa,61.0,0.714,20.0,199.0,3.262295,2918,211.0,106.0,NaN,1981.0,Zrenjanin,Serbia
Zeke Zawoluk,41.0,0.664,31.0,187.0,4.560976,318,201.0,97.0,St. John's University,1930.0,Brooklyn,New York
Zeke Zawoluk,67.0,0.779,87.0,431.0,6.432836,318,201.0,97.0,St. John's University,1930.0,Brooklyn,New York
Zendon Hamilton,54.0,0.652,14.0,324.0,6.000000,2725,211.0,113.0,St. John's University,1975.0,Floral Park,New York

In [26]:
media = df.loc[(df.G!=0), 'm_ponto'] = df.PTS/df.G
tabela_nova = df.loc[:,["PTS","m_ponto","height"]]

In [32]:
tabela_nova = tabela_nova.loc[pd.notnull(tabela_nova.m_ponto),:]
tabela_nova = tabela_nova.loc[pd.notnull(tabela_nova.height),:]

In [36]:
import numpy as np
import statsmodels.api as sm

Y = tabela_nova["m_ponto"]
X = tabela_nova["height"]
X = sm.add_constant(X)
model = sm.OLS(Y,X)
results = model.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                m_ponto   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                   0.07597
Date:                Tue, 07 Nov 2017   Prob (F-statistic):              0.783
Time:                        17:28:35   Log-Likelihood:                -15820.
No. Observations:                4966   AIC:                         3.164e+04
Df Residuals:                    4964   BIC:                         3.166e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          9.0399      3.433      2.633      0.008       2.310      15.770
height        -0.0046      0.017     -0.276      0.783      -0.038       0.028
==============================================================================
Omnibus:                      572.347   Durbin-Watson:                   0.537
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              785.829
Skew:                           0.958   Prob(JB):                    2.29e-171
Kurtosis:                       3.361   Cond. No.                     8.46e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.46e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [37]:
#fazer plot dispersao, pontuacao e atura